#titulo_principal {
    font-family: Copperplate, fantasy;
    font-size: 50px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#titulo_princ{
    text-align: center;
    padding: 2rem;
}

.enlaces_nav{
    font-family: Copperplate, fantasy;
    font-size: 25px;
}

.d-block{
    display: block;
}

.m-top{
    margin-top: 5rem;
}


.img-size{
    height: 255px;
    width: 255px;
}

.img-size-big{
    height: 606px;
    width: 606px;
}

.img-size-api{
    height: 350px;
    width: 350px;
}

.titulos-productos{
    white-space: nowrap;
    max-width: 300px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.titulos-productos:hover{
    color: aquamarine;
    text-decoration: none;
}

.titulo-productos-big{
    text-align: justify;
}

.precios-big{
    text-align: justify;
}

.descripcion-prod{
    text-align: center;
    font-size: 20px;
}

.margin-row {
    margin-right: -5rem;
    margin-left: -5rem;
}

.botones{
    background-color: #007bff;
}

.iconos{
    width: 23px;
    height: 23px;
}

.margin_abajo{
    margin-bottom: 19rem;
}

.marcos{
    border-radius: 25px;
}

.fondo_body{
    background-color: #eeee;
}

.fondo_container{
    background-color: white;
}